:root {
    /* color  */
    --clr-lime: hsl(61, 70%, 52%);
    --clr-transparent-lime: hsla(61, 79%, 50%, 0.325);
    --clr-gray: hsl(203, 41%, 72%);
    --clr-label: hsl(200, 24%, 40%);
    --clr-red: hsl(4, 69%, 50%);
    
    /* background color */
    --bg-card: hsl(202, 55%, 10%);
    --bg-result: hsl(202, 55%, 16%);
    --bg-background: hsl(202, 86%, 94%);

    /* spacing */
    --gap-small: 0.8rem;
    --gap-medium: 1.2rem;

    /* border radius */
    --br-small: 15px;
    --br-card: 5px;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    min-height: 100vh;
    background-color: var(--bg-background);
    overflow-x: hidden;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: white;
    width: min(100%, 800px);
}

h1 {
    display: block;
    font-size: 24px;
}
h2 {
    color: white;
    align-self: flex-start;
    padding-bottom: var(--gap-medium);
}
h3{
    font-size: 36px;
    color: var(--clr-lime);
    font-weight: 700;
    border-bottom: 0.5px solid var(--clr-gray);
    padding-bottom: var(--gap-medium);
}
h4 {
    font-size: 18px;
    color: white;
    font-weight: 700;
}
p {
    color: var(--clr-gray);
    font-size: 14px;
    line-height: 18px;
    padding-bottom: var(--gap-medium);
}

#heading-wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: var(--gap-medium);
    align-items: flex-start;
}

#clear {
    background-color: transparent;
    color: var(--clr-gray);
    outline: none;
    border: none;
    text-decoration: underline;
}
#clear:hover {
    cursor: pointer;
    color: var(--bg-card);
}
#clear:focus {
    outline: 1px solid var(--bg-card);
    outline-offset: 5px;
    border-radius: var(--br-small);
}

#input-section {
    flex: 1;
    padding: var(--gap-small);
}

#radio-label,
label {
    display: inline-block;
    padding-bottom: 8px;
    font-size: 14px;
    color: var(--clr-label);
}
.unit-wrapper {
    height: 35px;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: var(--gap-small);
}
input[type="number"] {
    width: 100%;
    height: 100%;
    padding: 6px;
    border: 1px solid var(--clr-gray);
    border-right:  none;
    border-top-left-radius: var(--br-card);
    border-bottom-left-radius: var(--br-card);
    margin-bottom: var(--gap-small);
}
input[name="mortgageAmount"] {
    border-left: none;
    border-right: 1px solid var(--clr-gray);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: var(--br-card);
    border-bottom-right-radius: var(--br-card);
}
.unit {
    color: var(--bg-card);
    background-color: var(--bg-background);
    border-top: 1px solid var(--clr-gray);
    border-bottom: 1px solid var(--clr-gray);
    border-right: 1px solid var(--clr-gray);
    padding: 6px 8px;
    border-top-right-radius: var(--br-card);
    border-bottom-right-radius: var(--br-card);
    font-weight: 700;
}

.unit-wrapper:has(input[name="mortgageAmount"]) {
    flex-direction: row;
}
.unit-wrapper:has(input[name="mortgageAmount"]) > .unit {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: var(--br-card);
    border-bottom-left-radius: var(--br-card);
    border-right: none;
    border-left: 1px solid var(--clr-gray);
}


input[type="radio"] {
    accent-color: darkgoldenrod;
    margin-inline-end: 5px;
}

.radio-wrapper {
    display: flex;
    padding: 6px;
    width: 100%;
    height: 35px;
    border: 1px solid var(--clr-gray);
    border-radius: var(--br-card);
    margin-bottom: var(--gap-small);
}
.radio-wrapper:hover {
    cursor: pointer;
    border-color: var(--clr-lime);
}
.radio-wrapper:has(input:focus) {
    cursor: pointer;
    border-color: var(--clr-lime);
}
.radio-wrapper input:focus {
    outline-color: var(--clr-lime);
}

.radio-wrapper:has(input[type="radio"]:checked) {
    border-color: var(--clr-lime);
    background-color: var(--clr-transparent-lime);
}

.radio-wrapper label {
    height: 100%;
    width: 100%;
    padding: 0;
    font-weight: 700;
    color: var(--bg-card);
}
.radio-wrapper label:hover {
    cursor: pointer;
}
button[type="submit"] {
    display: inline-flex;
    border: none;
    width: 100%;
    padding: 8px;
    gap: 6px;
    font-weight: 700;
    border-radius: var(--br-small);
    background-color: var(--clr-lime);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-block-start: 30px;
}
button[type="submit"]:hover {
    cursor: pointer;
    transition: 200ms ease-in-out;
    background-color: var(--clr-transparent-lime);
}

#result-section {
    flex: 1;
    background-color: var(--bg-result);
    padding: var(--gap-medium);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#result-section:has(.center) {
    justify-content: center;
}
#result-section img {
    aspect-ratio: 1/1;
    object-fit: contain;
    width: 200px;
}

#result {
    background-color: var(--bg-card);
    height: 250px;
    width: 100%;
    border-radius: var(--br-card);
    border-top: 2px solid var(--clr-lime);
    padding: var(--gap-medium);
}
#result p {
    padding-block: var(--gap-medium);
}

.center {
    align-self: center;
    text-align: center;
}

/* Hover state */
.unit-wrapper:hover > input[type="number"] {
    border: 1px solid var(--clr-lime);
    outline: 1px solid var(--clr-lime);
    cursor: pointer;
    border-right-color: transparent;
    margin-bottom: calc(var(--gap-small) * 0.5);
}
.unit-wrapper:hover > input[name="mortgageAmount"] {
    border: 1px solid var(--clr-lime);
    outline: 1px solid var(--clr-lime);
    cursor: pointer;
    border-left-color: transparent;
    margin-bottom: calc(var(--gap-small) * 0.5);
}
.unit-wrapper:hover > .unit {
    border: 1px solid var(--clr-lime);
    outline: 1px solid var(--clr-lime);
    cursor: pointer;
    border-left-color: transparent;
    background-color: var(--clr-lime);
}
.unit-wrapper:hover:has(input[name="mortgageAmount"]) > .unit {
    border: 1px solid var(--clr-lime);
    outline: 1px solid var(--clr-lime);
    cursor: pointer;
    border-right-color: transparent;
    background-color: var(--clr-lime);
}
/* focus state */
.unit-wrapper:has(input:focus) > input[type="number"] {
    border: 1px solid var(--clr-lime);
    outline: 1px solid var(--clr-lime);
    cursor: pointer;
    border-right-color: transparent;
    margin-bottom: calc(var(--gap-small) * 0.5);
}
.unit-wrapper:has(input:focus) > input[name="mortgageAmount"] {
    border: 1px solid var(--clr-lime);
    outline: 1px solid var(--clr-lime);
    cursor: pointer;
    border-left-color: transparent;
    margin-bottom: calc(var(--gap-small) * 0.5);
}
.unit-wrapper:has(input:focus) > .unit {
    border: 1px solid var(--clr-lime);
    outline: 1px solid var(--clr-lime);
    cursor: pointer;
    border-left-color: transparent;
    background-color: var(--clr-lime);
}
.unit-wrapper:has(input:focus):has(input[name="mortgageAmount"]) > .unit {
    border: 1px solid var(--clr-lime);
    outline: 1px solid var(--clr-lime);
    cursor: pointer;
    border-right-color: transparent;
    background-color: var(--clr-lime);
}

/* invalid state */
.invalid > .unit-wrapper > input[type="number"] {
    border: 1px solid var(--clr-red);
    border-right-color: transparent;
    margin-bottom: calc(var(--gap-small) * 0.5);
}
.invalid > .unit-wrapper > input[name="mortgageAmount"] {
    border: 1px solid var(--clr-red);
    border-left-color: transparent;
    margin-bottom: calc(var(--gap-small) * 0.5);
}
.invalid > .unit-wrapper > .unit {
    border: 1px solid var(--clr-red);
    border-left-color: transparent;
    background-color: var(--clr-red);
}
.invalid > .unit-wrapper:has(input[name="mortgageAmount"]) > .unit {
    border: 1px solid var(--clr-red);
    border-right-color: transparent;
    background-color: var(--clr-red);
}
.invalid::after {
    content: "This field is required";
    color: var(--clr-red);
    font-size: 12px;
}
.radio-wrapper.invalid::after {
    content: "This field is required";
    color: var(--clr-red);
    font-size: 12px;
    margin-block-start: 15px;
    display: block;
}

@media (min-width: 768px) {
    body {
        place-items: center;
    }

    main {
        border-radius: var(--br-small);
        flex-direction: row;
        min-height: 500px;
        margin-inline: auto;
    }

    h1 {
        display: inline-block;
    }

    #heading-wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #input-section {
        border-top-left-radius: var(--br-small);
        border-bottom-left-radius: var(--br-small);
    }

    .input-wrapper:has(input[type="number"]):not(:first-of-type) {
        display: inline-block;
        width: 47.5%;
    }
    .input-wrapper:has(input[type="number"]):nth-of-type(2) {
        margin-inline-end: 5%;
    }
    button[type="submit"] {
        width: 80%;
    }
    
    #result-section {
        border-top-right-radius: var(--br-small);
        border-bottom-right-radius: var(--br-small);
        border-bottom-left-radius: calc(var(--br-small) * 2);
    }
}